<div id="frmSignIn" class="sign-in">
    <div class="container">
        <div id="btnclose"><i class="fa fa-times"></i></div>
        <h3>ĐĂNG NHẬP</h3>
        <input type="email" placeholder="Email" value="" id="txtEmail" />
        <input type="password" placeholder="Mật khẩu" value="" id="txtPwd" />
        <p id="txtMsg"></p>
        <button class="btn-signin" id="btnSignin">ĐĂNG NHẬP</button>
        <div class="btn-social">
            <button class="btn-fb"><i class="fab fa-facebook-f"></i><span>Facebook</span></button>
            <button class="btn-gg"><i class="fab fa-google"></i>Google</button>
        </div>
         <p>Bạn chưa có tài khoản? <a href="#">Tạo tài khoản</a></p>
    </div>
</div>

