
@{
    ViewBag.Title = "MyBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="booking-wrap">
    <div class="ticket-container">
        <div class="ticket history">
            <div class="ticket-icon">
                <i class="fas fa-plane-departure"></i>
            </div>
            <div class="ticket-content">
                <div class="left">
                    <img src="~/Assets/images/Logo-Vietjet.png" />
                </div>
                <div class="ticket-info">
                    <p>Ngày đi</p>
                    <p class="p-info">16/12/2021</p>
                </div>
                <div class="ticket-info">
                    <p>Giờ khởi hành</p>
                    <p class="p-info">7:30</p>
                </div>
                <div class="ticket-info">
                    <p>Ngày đặt</p>
                    <p class="p-info">10/06/2021</p>
                </div>
                <div class="ticket-info">
                    <button class="btn-primary" name="btnXem">Xem vé</button>
                </div>
            </div>
        </div>
        <div class="ticket history">
            <div class="ticket-icon">
                <i class="fas fa-plane-departure"></i>
            </div>
            <div class="ticket-content">
                <div class="left">
                    <img src="~/Assets/images/Logo-Bamboo.png" />
                </div>
                <div class="ticket-info">
                    <p>Ngày đi</p>
                    <p class="p-info">20/07/2021</p>
                </div>
                <div class="ticket-info">
                    <p>Giờ khởi hành</p>
                    <p class="p-info">22:30</p>
                </div>
                <div class="ticket-info">
                    <p>Ngày đặt</p>
                    <p class="p-info">11/07/2021</p>
                </div>
                <div class="ticket-info">
                    <button class="btn-primary" name="btnXem">Xem vé</button>
                </div>
            </div>
        </div>
        <div class="ticket history">
            <div class="ticket-icon">
                <i class="fas fa-plane-departure"></i>
            </div>
            <div class="ticket-content">
                <div class="left">
                    <img src="~/Assets/images/Logo-Vietjet.png" />
                </div>
                <div class="ticket-info">
                    <p>Ngày đi</p>
                    <p class="p-info">30/05/2020</p>
                </div>
                <div class="ticket-info">
                    <p>Giờ khởi hành</p>
                    <p class="p-info">9:00</p>
                </div>
                <div class="ticket-info">
                    <p>Ngày đặt</p>
                    <p class="p-info">01/05/2020</p>
                </div>
                <div class="ticket-info">
                    <button class="btn-primary" name="btnXem">Xem vé</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('button[name="btnXem"]').click(function () {
            window.location = "/Booking/Ticket"
        })
    </script>
}

