
@{
    ViewBag.Title = "MyBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="booking-wrap">
    <div class="ticket-container">
        <div class="ticket">
            <div class="ticket-content">
                <div class="left">
                    <img src="~/Assets/images/Logo-Vietjet.png" />
                </div>
                <div class="center">
                    <div class="center-item">
                        <h3>7:30</h3>
                        <span>Hồ Chí Minh</span>
                    </div>
                    <div class="center-item">
                        <p>--- <i class="fas fa-plane"></i> ---</p>
                        <span>2h</span>
                    </div>
                    <div class="center-item">
                        <h3>9:30</h3>
                        <span>Đà Nẵng</span>
                    </div>
                </div>
                <div class="right">
                    <button>Xem vé</button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-content">
                <div class="left">
                    <img src="~/Assets/images/Logo-Vietjet.png" />
                </div>
                <div class="center">
                    <div class="center-item">
                        <h3>7:30</h3>
                        <span>Hồ Chí Minh</span>
                    </div>
                    <div class="center-item">
                        <p>--- <i class="fas fa-plane"></i> ---</p>
                        <span>2h</span>
                    </div>
                    <div class="center-item">
                        <h3>9:30</h3>
                        <span>Đà Nẵng</span>
                    </div>
                </div>
                <div class="right">
                    <button>Xem vé</button>
                </div>
            </div>
        </div>
    </div>
</div>

