
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search-result">
    <div class="search-info">
        <div class="content">
            <h3>Hà Nội → Đà Nẵng</h3>
            <p><span>T5, 23 Th12 2021</span>  |  <span>3 passengers</span>  |  <span>Phổ thông</span></p>
        </div>
        <div class="button">
            <button><i class="fas fa-search"></i>Đổi tìm kiếm</button>
        </div>
    </div>

    <div class="search-filter">
        <h4>Bộ lọc</h4>
        <div class="item">Thời gian bay <i class="fas fa-sort-down"></i></div>
        <div class="item">Hãng hàng không <i class="fas fa-sort-down"></i></div>

    </div>

    <div class="ticket-container">
        <div class="ticket">
            <div class="ticket-content">
                <div class="left">
                    <img src="~/Assets/images/Logo-Vietjet.png" />
                </div>
                <div class="center">
                    <div class="center-item">
                        <h3>7:30</h3>
                        <span>Nội Bài</span>
                    </div>
                    <div class="center-item">
                        <p>--- <i class="fas fa-plane"></i> ---</p>
                        <span>2h</span>
                    </div>
                    <div class="center-item">
                        <h3>9:30</h3>
                        <span>Tân Sơn Nhất</span>
                    </div>
                </div>
                <div class="right">
                    <h3>437.830  VND/khách</h3>
                    <button>Chọn vé</button>
                </div>
            </div>
            <div class="ticket-option">
                <p>Chi tiết chuyến bay</p>
                <p>Chi tiết vé</p>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-content">
                <div class="left">
                    <img src="~/Assets/images/Logo-Vietjet.png" />
                </div>
                <div class="center">
                    <div class="center-item">
                        <h3>7:30</h3>
                        <span>Nội Bài</span>
                    </div>
                    <div class="center-item">
                        <p>--- <i class="fas fa-plane"></i> ---</p>
                        <span>2h</span>
                    </div>
                    <div class="center-item">
                        <h3>9:30</h3>
                        <span>Tân Sơn Nhất</span>
                    </div>
                </div>
                <div class="right">
                    <h3>437.830  VND/khách</h3>
                    <button>Chọn vé</button>
                </div>
            </div>
            <div class="ticket-option">
                <p>Chi tiết chuyến bay</p>
                <p>Chi tiết vé</p>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-content">
                <div class="left">
                    <img src="~/Assets/images/Logo-Vietjet.png" />
                </div>
                <div class="center">
                    <div class="center-item">
                        <h3>7:30</h3>
                        <span>Nội Bài</span>
                    </div>
                    <div class="center-item">
                        <p>--- <i class="fas fa-plane"></i> ---</p>
                        <span>2h</span>
                    </div>
                    <div class="center-item">
                        <h3>9:30</h3>
                        <span>Tân Sơn Nhất</span>
                    </div>
                </div>
                <div class="right">
                    <h3>437.830  VND/khách</h3>
                    <button>Chọn vé</button>
                </div>
            </div>
            <div class="ticket-option">
                <p>Chi tiết chuyến bay</p>
                <p>Chi tiết vé</p>
            </div>
        </div>
    </div>

</div>

