
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="booking-wrap">
    <div class="booking">
        <div class="booking-info">
            <div class="booking-header">
                <h3>Hà Nội → Đà Nẵng</h3>
                <p><span>13/12/2021</span>  |  <span>2 hành khách</span>  |  <span>Phổ thông</span></p>
            </div>
            <div class="title">
                <span>Thông tin liên hệ</span>
            </div>
            <div class="form-info">
                <p class="title">Thông tin liên hệ</p>
                <div class="form-container">
                    <div class="control">
                        <p>Họ</p>
                        <input type="text" />
                    </div>
                    <div class="control">
                        <p>Tên đệm & Tên</p>
                        <input type="text" />
                    </div>
                    <div class="control">
                        <p>Số điện thoại di động</p>
                        <input type="tel" />
                    </div>
                    <div class="control">
                        <p>Email</p>
                        <input type="email" />
                    </div>
                </div>
            </div>
            <p class="title">Thông tin hành khách</p>
            <div class="form-info">
                <p class="title">Người lớn 1</p>
                <div class="form-container">
                    <div class="control">
                        <p>Họ</p>
                        <input type="text" />
                    </div>
                    <div class="control">
                        <p>Tên đệm & Tên</p>
                        <input type="text" />
                    </div>
                    <div class="control">
                        <p>Số điện thoại di động</p>
                        <input type="tel" />
                    </div>
                    <div class="control">
                        <p>Ngày sinh</p>
                        <input type="text" />
                    </div>
                    <div class="control">
                        <p>CMND/CCCD</p>
                        <input type="number" />
                    </div>
                    <div class="control">
                        <p>Quốc tịch</p>
                        <input type="text" />
                    </div>
                </div>
            </div>

            <p class="title">Phương thức thanh toán</p>
            <div class="form-method">
                <div class="method-payment active">
                    <img src="~/Assets/images/MoMo_Logo.png" />
                    <span>Ví điện tử momo</span>
                </div>
                <div class="method-payment">
                    <img src="~/Assets/images/bank-card.png" />
                    <span>Thẻ ngân hàng</span>
                </div>
            </div>

            <div class="form-submit">
                <button class="btn-primary" id="btnPayment">THANH TOÁN</button>
            </div>
        </div>
        <div class="form-checkout">
            <div class="form-checkout-container">
                <div class="row">
                    <span>VietJet Air (Người lớn) x2</span>
                    <span>807,000 VND</span>
                </div>
                <div class="row">
                    <span>VietJet Air (Em bé) x1</span>
                    <span>110,000 VND</span>
                </div>
                <div class="row">
                    <span>Tổng tạm tính</span>
                    <span>917,660 VND</span>
                </div>
                <div class="row line">
                    <span>Thuế & phí (10%)</span>
                    <span>91,766 VND</span>
                </div>
                <div class="row total">
                    <span>Tổng cộng</span>
                    <span>1,009,426 VND</span>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        $('#btnPayment').click(function () {
            window.location = '/Booking/ThanhToanMomo'
        })
    </script>
    
}