
@{
    ViewBag.Title = "returnUrl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style=" font-size: 2rem; height: 50vh; display: flex; justify-content: center; text-transform: uppercase; align-items: center;">
    <h3>@ViewBag.Message</h3>
</div>


