
@{
    ViewBag.Title = "Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ticket-wrap">
    <div class="e-ticket">
        <div class="top">
            <div class="qr">
                <img src="~/Assets/images/DlgOLIW.png" />
            </div>
            <div class="content">
                <div class="date-time">
                    <img class="branch" src="~/Assets/images/Logo-Vietjet.png" />
                    <h3>Thứ tư, ngày 15 tháng 12 năm 2021</h3>
                    <div class="time">
                        <div>
                            <h3>7:30</h3>
                            <p>Hà Nội</p>
                        </div>
                        <div>
                            ---
                        </div>
                        <div>
                            <h3>9:30</h3>
                            <p>Hồ Chí Mnh </p>
                        </div>
                    </div>

                </div>
                <div class="info">
                    <p class="title">Mã chuyến bay</p>
                    <p>5975249</p>
                    <p class="title">Hạng vé</p>
                    <p>Phổ thông</p>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="item">
                <i class="fas fa-address-card"></i>
                <p>Trình CMND/hộ chiếu và vé khi làm thủ tục bay</p>
            </div>
            <div class="item">
                <i class="fas fa-clock"></i>
                <p>Làm thủ tục ít nhất 90 phút trước giờ khởi hành</p>
            </div>
            <div class="item">
                <i class="fas fa-info-circle"></i>
                <p>Giờ hiển thị trên vé là giờ sân bay địa phương</p>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên hành khách</th>
                    <th>Loại vé</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nguyễn Thị My</td>
                    <td>Người lớn</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Hoàng Văn Nghị</td>
                    <td>Người lớn</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Hoàng Thị Dung</td>
                    <td>Em bé</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="option">
        <button class="btn-primary">Hủy vé</button>
        <button class="btn-primary" style="margin-left: 2rem; color: var(--blue) !important; background: #fff !important; box-shadow: rgb(3,18,26,0.2) 0px 1px 2px; ">Thay đổi thông tin</button>
    </div>
</div>
